

*{

    padding: 0;
    margin: 10;
    background-color: rgb(147, 75, 105);

    box-sizing: border-box;

}

.container {
    background-color: rgba(177, 191, 226, 0.856);
    min-height: 100vh;
    border: 5px solid;
}



.content{

    max-width: 800px;
    
    margin:0  auto;
}

.top{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-end;
}

.top h1{
    font-size: 50px;
    font-weight: bold;
    color: blue;
   
}
.top h4{

    font-size: 30px;
    text-align: end;

}

.headd{
    text-align: center;
    font-size: 30px;
}

.middle{

    text-align: center;
    font-size: 20px;
}
.image{
    border-radius: 40%;
    overflow: hidden;
    

}
.image{
   position: middle;
   margin-top: 5px;
   margin-left: 10ch;
   
}